#cabecera {
    position: absolute;
top: 2%;
left: 2%;
height: 10%;
width: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#indice {
    position: absolute;
top: 13%;
left: 2%;
width: 25%;
height: 75%;
}

#contenido{
position: absolute;
top: 13%;
left: 30%;
width: 65%;
height: 75%;
}

#contenido #imagen {
float: right;
width: 11%;
}

#piedepagina {
position: absolute;
top: 89%;
left: 30%;
height: 10%;
width: 65%;
display: flex;
    justify-content: center;
    align-items: center
}